# Dependencies
node_modules

# Cypress - Test Artifacts
/cypress/screenshots/
/cypress/videos/
/cypress/reports/
/cypress/downloads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE / Editor specific files
.vscode/
.idea/